body {
  background: #060606;
  color: #fff;
  font-family: 'Arial';
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div {
  display: flex;
  justify-content: center;
}

p {
  font-size: 22px;
  color: #d0d0e3;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  font-size: 18px;
  margin-bottom: 3px;
}

input {
  font-size: 16px;
  font-weight: bold;
  border-radius: 0px;
  border-style: none;
  padding-left: 8px;
  background-color: #4B4C51;
  color: #dedee8;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

button {
  margin-top: 20px;
  border-radius: 0;
  border-style: none;
  font-size: 25px;
  font-weight: bolder;
  padding: 10px 40px;
  background-color: #5d1fb7;
  color: #DEDEE8;
}

#solution-container {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
}
